<div class="container login-page">
  <div class="row login-main">
    <div class="offset-md-3 col-md-6 login-form">
      <mat-card class="example-card">
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
          <mat-card-header>
            <mat-card-title>Zarejestruj się</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="full-width">
            <input id="pp-email"
                   type="email"
                   matInput placeholder="Email"
                   formControlName="email"
                   required email> 
              <mat-error *ngIf="registerForm.hasError('required', 'email')">
                Email jest <strong>wymagany</strong>
              </mat-error>
              <mat-error *ngIf="registerForm.controls['email'].errors?.email && !registerForm.controls['email'].errors?.required">
                Wprowadz poprawny adres email!
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input id="pp-login"
                     matInput placeholder="Login"
                     formControlName="login"
                     required>
              <mat-error *ngIf="registerForm.hasError('required', 'login')">
                Login jest <strong>wymagany</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input id="pp-password"
                     type="password"
                     matInput placeholder="Hasło"
                     formControlName="password"
                     required>
              <mat-error *ngIf="registerForm.hasError('required', 'password')">
                Hasło jest <strong>wymagane</strong>
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Zarejestruj się</button>
            <small class="form-text text-danger text-center error-message">{{ message }}</small>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
</div>
