<div *ngIf="isLoggedIn">
  <button mat-raised-button color="primary">Utwórz nowy temat</button>
</div>
<table *ngIf="!threadListing || threadListing.totalCount == 0" mat-table>
  <tr>
    <td>Brak tematów!</td>
  </tr>
</table>
<table *ngIf="threadListing && threadListing.totalCount > 0" mat-table>
  <tr>
    <th>Temat</th>
    <th>Autor</th>
    <th>Odpowiedzi</th>
  </tr>
  <tr *ngFor="let thread of threadListing.threads">
    <td>
      {{thread.topic}}
    </td>
    <td>
      {{thread.createdBy.userName}}
    </td>
    <td>
      {{thread.repliesCount}}
    </td>
  </tr>
</table>
